body{

margin:0;
font-family:sans-serif;
text-align:center;
color:white;

background-image:url("images/746428599603f01dcc228c.jpg");
background-size:cover;
background-attachment:fixed;

}

h1{

background:#002a6b;
padding:20px;

}

section{

background:rgba(0,0,0,0.7);
margin:40px;
padding:30px;
border-radius:10px;

}

.gallery img{

width:400px;
border-radius:10px;

}

.players{

display:flex;
justify-content:center;
gap:30px;

}

.card{

background:white;
color:#002a6b;
padding:20px;
border-radius:10px;
width:200px;
cursor:pointer;

}

.card img{

width:150px;

}

#ochiai-detail{

display:none;
background:white;
color:#002a6b;
margin:30px auto;
padding:20px;
width:60%;
border-radius:10px;

}
